<br>
<br>
<br>

<div class="container-info-page-foto">
    <img class="fotoneuralink" src="/images/neuralink.png">
</div>
<br>
<br>

<div class="neuralink-page">
    <div class="neuralink-textinfo">
        <p>Neuralink Corporation is a neurotechnology company developing implantable brain–machine interfaces.<br>The company's headquarters is in the Pioneer Building in San Francisco sharing offices with OpenAI.<br>Neuralink was launched in 2016 but was start to get famous on March of 2017.</p>
    </div>
    <div class="neuralink-video">
        <iframe width="400" height="350" src="https://www.youtube.com/embed/rsCul1sp4hQ" title="YouTube video player" frameborder="0"allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

