<br>
<br>
<br>
<br>
<div class="container-info-page-foto">
    <img class="fotospacex" src="/images/spacex.png">
</div>
<br>
<br>

<div class="spacex-page">
    <div class="spacex-textinfo">
        <p>PayPal, Inc. is an American multinational financial technology company operating with online payments system in the majority of countries that support online money transfers, and offers an electronic alternative to traditional paper methods such as checks and money orders. Paypal was founded on 1998 and now paypal's headquarters is on San José, California. With this app you can easily send money to a friend or to pay something just with an email address or with a phone number.</p>
    </div>
    <div class="spacex-video">
        <iframe width="400" height="280" src="https://www.youtube.com/embed/TeVbYCIFVa8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>