<br>
<br>
<div class="container-info-page-foto">
    <img class="fototbc" src="/images/tbc.png">
</div>
<br>
<br>

<div class="tbc-page">
    <div class="tbc-textinfo">
        <p>The Boring Company is an American infrastructure and tunnel construction services company founded by Elon Musk. Its current and proposed projects are designed for intra-city "loop" transit systems, the company wants to make a network of tunnels that connects every place. It will be as a highway but with only one lane and at a velocity of 200km/h.</p>
    </div>
    <div class="tbc-video">
        <iframe width="400" height="300" src="https://www.youtube.com/embed/u5V_VzRrSBI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
    </div>
</div>