<br>
<div class="info-page">

    <div class="container-info-page-texts">
        <div class="biografia">
            <h1 class="text-1">Elon's Life</h1>
            <p>Elon Reeve Musk, borned on June 28 of 1971 is an entrepreneur and business magnate. He is the CEO, and Chief Engineer at SpaceX; early stage investor, CEO, and Product Architect of Tesla, Inc.; founder of The Boring Company; and founder of Neuralink and OpenAI. Musk is a centimillionaire and the richest person in the world of September 2021</p>
        </div>
        <div class="whywefans">
            <h1>Why to be a fan?</h1>
            <p>We are Elon Musk fans because he's a very clever person and with a very good judgment in making decisions. With his first decision he became millionaire. He sold "Zip2" (a company that sells software) for $307 million to Compaq Computer.</p>
        </div>
    </div>

    <div class="container-info-page-foto">
        <img class="fotomusk" src="/images/musk.jpg">
    </div>

</div>
